<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Block direct access to sensitive folders -->
        <rule name="Block config" stopProcessing="true">
          <match url="^(config|models|controllers)/" />
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <!-- PHP handler -->
    <handlers>
      <add name="PHP_via_FastCGI"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Program Files\PHP\v8.2\php-cgi.exe"
           resourceType="Either"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
